*{
    margin: 0;
    padding: 0;
}

/* Navbar */

nav {
    display: flex;
    height: 100px;
    align-items: center;
    color: black;
}

nav .logo img{
    height: 100px;
    width: 130px;
    margin: 20px;
    margin-left: 130px;
}

nav .navbaritems div{
    font-size: 25px;
    align-items: center;
    margin: 20px;
    font-family:'Courier New', Courier, monospace;
    margin-right: 100px;
    font-weight: bold;
}

nav .navbaritems div a{
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

/* body */

.body {
    background-image: url('images/banking.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.body .items {
    position: absolute;
    top: 250px;
    font-size: 50px;
    left: 10%;
    color: white;
}

.body button {
    color: white;
    margin: 30px;
    font-size: 20px;
    border-radius: 0.4 rem;
    padding: 10px;
}
